# Terraform working directory
.terraform/

# Terraform state files
*.tfstate
*.tfstate.*
*.tfstate.backup

# Terraform crash logs
crash.log
crash.*.log

# AWS CLI installer/extracted files
awscliv2.zip